body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f9;
    color:#333;
}

/* HERO */

.hero{
    height:55vh;

    background-image:
    linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('images/logo.png');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.overlay{
    color:white;
}

.hero h1{
    font-size:48px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;

    background:#0f4c81;
    color:white;

    padding:12px 24px;

    border-radius:8px;
    text-decoration:none;

    transition:0.3s;
}

.btn:hover{
    background:#08365b;
}

/* CONTENT */

.container{
    width:90%;
    max-width:1200px;

    margin:auto;
    padding:40px 0;
}

h2{
    color:#0f4c81;
}

table{
    width:100%;
    border-collapse:collapse;

    background:white;

    box-shadow:
    0 4px 10px rgba(0,0,0,0.08);
}

th{
    background:#0f4c81;
    color:white;
    padding:14px;
}

td{
    border:1px solid #ddd;
    padding:12px;
    vertical-align:top;
}

tr:nth-child(even){
    background:#f9f9f9;
}

img{
    width:140px;

    border-radius:8px;
    border:1px solid #ccc;

    transition:0.3s;
}

img:hover{
    transform:scale(1.05);
}

/* FOOTER */

footer{
    margin-top:40px;

    background:#0f4c81;
    color:white;

    text-align:center;

    padding:20px;
}


/* MOBILE */

@media(max-width:768px){

    .hero h1{
        font-size:32px;
    }

    table{
        font-size:12px;
    }

    img{
        width:90px;
    }

}